@model new_Karlshop.Data.Category

@{
    ViewBag.Title = "CategoryCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryCreate</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.cat_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.parent_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

            @{
                List<SelectListItem> selectItems = ViewBag.MyCatSelectList;

                @Html.DropDownListFor(model => model.parent_id, 
                                 selectItems,
                                "Select One", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.parent_id, "", new { @class = "text-danger" })
             }

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.intro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.intro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.intro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Category")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
