@model IEnumerable<new_Karlshop.Data.Order>

@{
    ViewData["Title"] = "CustomerOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerOrders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.order_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total_price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total_number)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "OrderDetails", new {  id = item.Order_id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
