@model IEnumerable<new_Karlshop.Models.CartVM>

@{
    ViewData["Title"] = "ShowCartnew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Cart</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>

                <th>
                    @Html.DisplayNameFor(model => model.Goods_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Shop_Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td><img src="~/images/@Html.DisplayFor(modelItem => item.GoodImg)" alt="goodImg" style="width:60px;height:100px"/> </td>
            <td style="line-height:100px">
                @Html.DisplayFor(modelItem => item.Goods_Name)
            </td>
            <td style="line-height:100px">
                @Html.DisplayFor(modelItem => item.Shop_Price)
            </td>
            <td style="line-height:100px">
                <input id="@Html.DisplayFor(modelItem => item.Goods_ID)" style="width:40px;line-height:20px;" type="number" min="1" value="@Html.DisplayFor(modelItem => item.Quantity)" onchange="changeQuantity(@Html.DisplayFor(modelItem => item.Goods_ID),this)"/>
                
            </td>
            <td style="line-height:100px">
                @Html.ActionLink("Detail", "GoodsEdit", new { controller = "Home", id=item.Goods_ID }) |
                @Html.ActionLink("Delete", "DeleteCart", new { controller = "Home", accountID = item.Account_ID, goodID = item.Goods_ID })
            </td>
        </tr>
}
    </tbody>

    <tr class="lead">
        @{
            var totalPieces = ViewBag.totalPieces;
            var totalPrice = ViewBag.totalPrice;
            <td></td>
            <td>
                Total Quantity
            </td>
                <td></td>
                
                <td >
                    @Html.Raw(totalPieces)
                </td>
                <td></td>
                <td></td>
        }
    </tr>

    <tr class="lead">
        @{
            <td></td>
            <td>
                Total Price
            </td>
            <td></td>

                <td>
                    @Html.Raw(totalPrice)
                </td>
                <td></td>
                <td></td>
        }
    </tr>

   

</table>

@*<a href="~/Home/Index">
    <input type="button" value="Check out" class="btn btn-primary" style="width:120px;" />
</a>*@

@{ 
    if (Model.ToList().Count == 0)
    {
        @Html.Raw("You have not selected any items my dear!")
    }
    else
    {
        @Html.ActionLink("Check Out", "ConfirmOrder", new { controller = "Home", accountID = Model.FirstOrDefault().Account_ID }, new { @class = "btn btn-success", @style = "width:120px;" })
    }
}


<script>
    function changeQuantity(id,quantity) {
        //  var goodId = $(good).
        console.log(id);
        console.log($(quantity).val());
        $.ajax({
            type: "post",
            url: "/Home/changeQuantityInCart",
            data: { id: id, quantity: $(quantity).val() },
            datatype: "json",
            success: function () {
                console.log("update success")
                window.location.href="showCart"

            },
            error: function () {
                console.log("error occur")

            }



        })

    }
</script>