@model IEnumerable<new_Karlshop.Models.WishlistVM>

@{
    ViewData["Title"] = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WishList</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.goodsName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.goodsDescript)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.goodsPrice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.goodsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goodsDescript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.goodsPrice)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "ToCart", new { controller = "Home", AccountID = item.AccountID, id = item.goodsID }) |
                @Html.ActionLink("Details", "GoodsEdit", new { controller = "Home", id= item.goodsID }) |
                @Html.ActionLink("Delete", "DeleteWishList", new { controller = "Home", accountID = item.AccountID, goodID = item.goodsID })
            </td>
        </tr>
}
    </tbody>
</table>
